<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.webzank.rent.mapper.ReservationMapper">

    <resultMap id="BaseResultMap" type="site.webzank.rent.pojo.entity.Reservation">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="houseId" column="house_id"/>
        <result property="date" column="date"/>
        <result property="name" column="name"/>
        <result property="comment" column="comment"/>
    </resultMap>


</mapper>
